[2018-06-04 01:22] Joshgallagher opened #1 "Really good work"
This is a solid project!

I would be very interested in working on the camera element - filters etc.

Did you implement pagination?

Did you implement a custom camera implementation?

[2018-06-04 04:57] mdanics commented on #1
@Joshgallagher
Thank you! This is my first big project so the kind words really mean a lot.

Working on the camera / filter element would be awesome. I recall [Dart Image](https://github.com/brendan-duncan/image) having the best image editing options. In the [examples](https://github.com/brendan-duncan/image/wiki/Examples) there was changing an image to greyscale, and I believe there were ways to

[2018-06-04 14:30] shock-wave007 opened #2 "Amazing work man"
it would be awesome if u can create a youtube series just EXPLAINING your code what function does what it will help non flutter developer to understand your code and i know creating tutorial series is not so easy so just explain as i am a native android developer and trying to create something similar

[2018-06-05 12:50] mdanics commented on #2
Hey, thank you.
Unfortunately I don't see my self making a YouTube series for this.

Feel free to ask me what certain functions do, and I'd be happy to explain

[2018-06-07 12:23] shock-wave007 commented on #2
have thought of how u gonna structure your data (block person cant seen post, if private account only followers can view post and public account anyone can view post).

if u have can u post some screenshot of firestore and json file from realtime database with rules

or any other way you can expain

[2018-06-10 23:43] 0x13ens opened #3 "Loading Feed Errors?"
On the home button screen, I just have the Appbar and a loading circle and on the profile below the tabs it's just loading endlessly any ideas? nice work btw

![home](https://user-images.githubusercontent.com/31564553/41207580-69a175cc-6d10-11e8-98ed-09b23fbbac15.png)
![profile](https://user-images.githubusercontent.com/31564553/41207582-6d98baf0-6d10-11e8-9631-58e4e91b561e.png)

[2018-06-11 20:10] mdanics commented on #3
Is from my APK or did you clone and build your own?

[2018-06-11 23:49] 0x13ens commented on #3
Hey mdanics, I followed the instructions built and cloned my own, so far I can register successfully, see the new posts in the google console, however, these feeds just don’t seem to want to load in the actual app

[2018-06-12 00:30] mdanics commented on #3
Hey,

For the main Feed, did you upload my cloud function to your console, and then replace the url on line 83 in [feed.dart ](https://github.com/mdanics/fluttergram/blob/master/lib/feed.dart)
`https://us-central1-mp-rps.cloudfunctions.net/getFeed` with your own link? ensuring `?uid=` is still there?
That would be my initial guess for it to not load properly.

The user profile, however, is more in

[2018-06-12 00:31] mdanics commented on #1
@Joshgallagher Would you be interested in working on any of them?

[2018-06-12 00:34] mdanics commented on #2
I haven't put huge thought into making private and non private accounts, and I'm not sure if I'm going to implement that as it doesn't really provide much more _different_ functionality.

As of now, there are no rules for the firestore. That has been something that I haven't been able to understand and I haven't had the time to dedicate myself to make them with a high standard. It is definitely on

[2018-06-12 00:35] 0x13ens commented on #3
Hey, thanks again, I did double/triple check the url and it seems to be correct following your format. The search user page does indeed return results

[2018-06-12 01:18] mdanics commented on #3
Hm...
Can you post a photo of your cloud functions dashboard?

Also try visiting the link with your user id (assuming you are following people with posts). For instance, for me visiting my url with my userid I get: [this response](https://us-central1-mp-
rps.cloudfunctions.net/getFeed?uid=110640536142883096796), showing there is data.

[2018-06-12 02:04] shock-wave007 commented on #2
If you got time we can discuss on that we might get some solutions 😅😅

[2018-06-12 02:18] mdanics commented on #2
Yeah I've got time, that'd be awesome. Do you have any ideas / experience with firebase security rules?

[2018-06-13 00:48] baank opened #4 "WebP Images"
WebP is only supported in Chrome. So we can't see the preview images on iOS or OSX.

Maybe switch to GIF ?

[2018-06-13 14:11] 0x13ens commented on #3
Hey, dude, I tried making new instances and such and still the same I believe I got a response, however, I've just done a full hard reset and will be trying from fresh again tonight! Have you got a contact other then here I could quickly run issues by you? Thanks

[2018-06-17 17:21] 0x13ens opened #5 "No feeds again?"
Hello I tried to set up the project from scratch for the 3rd time and once again the feeds aren't loading

[2018-06-17 19:05] 0x13ens commented on #5
Profile seems to be working it's just the main page that isn't?

[2018-06-19 02:13] #5 closed

[2018-06-19 08:01] josh9060 commented on #1
I'd definitely be interested - I'll have to fit it in around work. I'm mostly interested in the camera - building out a powerful Flutter experience.

[2018-06-20 07:40] 0x13ens opened #6 "NoSuchMethodError: The getter 'photoUrl' was called on null."
Getting this error on when new accounts try to use the camara to take a photo?

`NoSuchMethodError: The getter 'photoUrl' was called on null.
Receiver: null
Tried calling: photoUrl`

Any ideas?

[2018-06-22 02:43] mdanics commented on #5
Hey, any luck?

[2018-06-22 02:44] mdanics commented on #1
Awesome, looking forward to some PRs!

[2018-06-22 02:44] #1 closed

[2018-06-22 03:11] mdanics commented on #4
I tried converting them to GIF's and the file size rocketed.

Any tools you recommend for gif conversion?

[2018-06-22 03:11] #2 closed

[2018-06-22 03:12] mdanics commented on #6
When does this happen?  When they try to post the photo? When they click the capture button in the camera view?

[2018-06-22 10:00] SekibOmazic opened #7 "couldn't deploy apk on different emulators"
Hi, I've tried to deploy the apk on different emulators but none of them worked. Also tried to download apk and install it to my old Nexus 5 - still no luck. Could you tell if there are any steps needed before just dragging apk to the emulator?

<img width="355" alt="screen shot 2018-06-22 at 11 03 59" src="https://user-images.githubusercontent.com/3735902/41770553-df6e964e-7612-11e8-8991-f6e64458

[2018-06-24 01:49] mdanics commented on #7
Hm.. I haven't seen that error before. From some googling it looks like it might have to do with an sdk miss match between the emulator and the apk.

Do you have a real device to test the installation of the apk?

[2018-06-24 08:01] SekibOmazic commented on #7
Yes, I tried on my old Nexus 5 device - without luck. At the end I built the source code on my own firebase instance.

[2018-06-24 08:44] #7 closed

[2018-06-27 02:49] mdanics commented on #6
Closing for lack of response and unable to reproduce

[2018-06-28 02:01] mdanics commented on #1
@Joshgallagher
There's a new plugin [image cropper](https://github.com/hnvn/flutter_image_cropper) which looks like it could be useful.

[2018-07-28 17:28] indokely opened #10 "Want to write new Functions and Feature"
Hello Team,

I want to use fluttergram for my proof of concept idea. I need below 2 things.
1. Search - Get All Users (Based on Gender) based on City (Google Places Integration) - If logged in person is Male, then he will see only Female and vice versa. Parameter that needs to consider is Location and Gender
2. Login with MOBILE number only.
3. Logged in user can only see opposite gender users onl

[2018-08-03 23:46] mdanics commented on #10
Hello,

Sorry these features are currently not on the roadmap so we have not put thought towards it and don't have a preference for a plan of attack. If you would like to implement them, feel free to do so, PRs are appreciated and encouraged.

We use Firebase for signing in with google, and they do support [account creation with a phone number ](https://firebase.google.com/docs/auth/web/phone-auth

[2018-08-03 23:46] #10 closed

[2018-08-06 00:14] IvoryAguado commented on #4
If there are icons use SVG, for images you should compress them or maybe download them on the first install of the app from a CMS could be interesting.

[2018-08-07 00:38] mdanics commented on #4
Won't convert previews to GIFs as they are too large and will increase the repo size.

[2018-08-07 00:38] #4 closed

[2018-08-08 18:16] Dhciolfi opened #11 "Can I improve this project and use to teach Flutter for my students?"
Hi!

I'm an instructor and I have a course about app development with Flutter!

This project is really cool! I have downloaded it and modified a few parts so it's a little better now.

I would like to use this project to teach Flutter for my students. Would be a problem for you? I will give the credits to you.

Thanks!

[2018-08-08 22:43] mdanics commented on #11
I have no problem with you using it, just please include a link to the repo and credits like you said.

If you have made changes, I would really appreciate it if you make some pull requests so that we can improve this project.

Thanks!

[2018-08-09 14:33] Dhciolfi commented on #11
Sure!

I'm still changing the project. When I finish, I will make the pull requests.

Thanks!

[2018-08-10 14:28] mdanics commented on #11
Thanks!

[2018-08-10 14:28] #11 closed

[2018-08-19 11:15] paul-hammant opened #12 "Follow standards for screenshots in readme"
1. open an issue,
2. drag an image from your file system into the new-issue textbox
3. watch github make a URL for that in the `![...](...)` markdown style
4. copy that you your clipboard
5. paste it into the README, commit and push.
6. close that issue without submitting you'd started to make `3` above.

[2018-08-19 11:19] paul-hammant commented on #12
Oh interesting ..... the README renders with images inline (GIF animation) for Chrome, but is a list of links only for Firefox (to .webm files in the GH repo which isn't allowed to be an image host itself)

[2018-09-05 17:01] knightkhan commented on #12
Because Fluttergram depends on image 1.1.30 which requires SDK version >=1.0.0 <2.0.0, version solving failed.
pub get failed (1)

[2018-09-05 17:02] knightkhan opened #13 "SDK version >=1.0.0 <2.0.0, version solving failed."
Because Fluttergram depends on image 1.1.30 which requires SDK version >=1.0.0 <2.0.0, version solving failed.
pub get failed (1)

[2018-09-16 04:14] rayliverified commented on #13
#14

[2018-09-23 17:14] mdanics commented on #13
Fixed with #14

[2018-09-23 17:14] #13 closed

[2018-09-23 18:49] mdanics commented on #12
Fixed

[2018-09-23 18:49] #12 closed

[2018-09-23 18:50] mdanics commented on #4
Updated readme to use gifs, hosting the gifs outside of the repo

[2018-10-08 22:59] suprafun opened #15 "License ?"
Hello, under what license is this project released under ?  Thank-you.

[2018-10-12 20:38] ScottYelich opened #16 "dependencies spec still valid?"
I am having trouble trying to get the dependencies to work... looks like http is the start of the mess, but then it moves on to things like:

Running "flutter packages get" in fluttergram...
Because cached_network_image >=0.4.1 <0.4.2 depends on flutter_cache_manager ^0.1.1 and cached_network_image >=0.4.0 <0.4.1 depends on flutter_cache_manager ^0.1.0, cached_network_image >=0.4.0 <0.4.2 requires

[2018-10-12 20:41] ScottYelich commented on #16
started here:

flutter packages get
Running "flutter packages get" in fluttergram...
Because every version of flutter_test from sdk depends on http 0.12.0 and Fluttergram depends on http ^0.11.3+14, flutter_test from sdk is forbidden.
So, because Fluttergram depends on flutter_test any from sdk, version solving failed.

pub get failed (1)

[2018-10-12 20:49] ScottYelich commented on #16
I'm doing this for now:  pubspec.yaml
See:  https://github.com/dart-lang/json_serializable/issues/241

dev_dependencies:
#  flutter_test:
#    sdk: flutter
  build_runner: "^1.0.0"

[2018-10-12 21:00] ScottYelich opened #17 "Firebase/Firestore -- system Date objects changing"
Syncing files to device iPhone 6...
5.7.0 - [Firebase/Firestore][I-FST000001] The behavior for system Date objects stored in Firestore is going to change AND YOUR APP MAY BREAK.
To hide this warning and ensure your app does not break, you need to add the following code to your app before calling any other Cloud Firestore methods:

let db = Firestore.firestore()
let settings = db.settings
settings.

[2018-10-12 21:02] ScottYelich opened #18 "Post?"
Pressing the (+) on Fluttergram iOS (iOS12):

Please audit all existing usages of Date when you enable the new behavior. In a future release, the behavior will be changed to the new behavior, so if you do not follow these steps, YOUR APP MAY BREAK.
[VERBOSE-2:shell.cc(182)] Dart Error: Unhandled exception:
inheritFromWidgetOfExactType(_LocalizationsScope) or inheritFromElement() was called before

[2018-10-15 19:59] mdanics commented on #16
Thanks for pointing this out, fixed it in the latest commit.

[2018-10-15 19:59] #16 closed

[2018-10-15 20:01] ScottYelich commented on #16
thx.  I'll update and test in ~ 45 minutes ... feedback will appear here.  (I get crashes with taking a pic and hangs on pic upload, etc... not sure if it's related to versions/dependencies).   I'll keep checking.

[2018-10-15 20:05] mdanics commented on #16
Kk thanks. Haven't a chance to investigate the other issues you opened, but will look at them soon.

[2018-10-15 20:55] ScottYelich commented on #16
Confirmed working with no issues for me.  thx.

[2018-10-15 21:00] mdanics commented on #16
It fixed #18 and #17 ?

[2018-10-15 21:18] ScottYelich commented on #16
No.  To test #17 and #18 -- I have to make the firebase and other changes to the vanilla code.  I haven't had the chance to do that yet.  I expect #17 and #18 to still fail -- but I can't say either way until I test.  I did a second clone so I could keep the state of the old system as reference and work to correct in a separate place.  I'll try to update by EOD tomorrow.

[2018-10-15 21:28] mdanics commented on #17
Looks like the same issue as [this](https://github.com/flutter/flutter/issues/18159)

[2018-10-17 06:40] harshapulikollu opened #19 "Error regarding dependencies after updating flutter SDK"
After using the latest dependencies and new flutter update, I'm getting this error when I try to run "packages get" in android studio.
[code]

[2018-10-17 14:52] mdanics commented on #19
Im pretty sure this is the same as #16 and was fixed.

Can you make sure you have the latest version of the repo and try it again and let me know the results?

Thanks

[2018-10-18 07:57] harshapulikollu commented on #19
yes, it fixed the issue. Thanks.

[2018-10-18 08:01] harshapulikollu opened #20 "Cloud functions code for notifications for like, comment, etc.."
I want to propose a new enhancement(feature sort of). please try to add code in cloud functions such that it will trigger for every change  like, comment and other things in firestore DB and send notification with payload to respective users.

[2018-10-18 14:51] #19 closed

[2018-10-18 16:50] mdanics commented on #20
Nice idea for an enhancement, thanks. I don't think I will work on implementing this as I don't have time, but I don't think it would be too difficult to do ([basic example](https://firebase.google.com/docs/cloud-messaging/admin/send-messages)). I recommend exploring adding it yourself, and would appreciate it if you submit a PR if you end up getting to it.

[2018-10-18 16:50] #20 closed

[2018-10-18 21:49] mdanics commented on #18
Is this a dup of #17

[2018-10-18 23:05] mdanics commented on #17
Fixed

[2018-10-18 23:05] #17 closed

[2018-10-18 23:06] mdanics commented on #18
Just fixed #17

Please try pulling the repo and let me know if that also fixes this.

[2018-10-18 23:06] mdanics commented on #15
Whatever github's default is.

[2018-10-18 23:06] #15 closed

[2018-10-19 09:58] harshapulikollu opened #21 "A cloud functions typo in readme.md file"
In 3rd point under set up firebase app,
you have written the last point as **Replace the url in the `_getFeed` function in `upload_page.dart` with your cloud function url from the previous step.**
but the function `_getFeed` is presented in `feed.dart` file not in `upload_page.dart`

[2018-10-19 20:32] mdanics commented on #21
Thank you for pointing this out!

Other than this, were you able to successfully build Fluttergram?

[2018-10-19 20:32] #21 closed

[2018-10-20 03:36] harshapulikollu commented on #21
yes, I'm able to build it without other issues.

[2018-10-22 21:01] arafat1971 opened #22 "Continue and please upgrade this particular issu"
Improve Caching of Profiles, Images, Etc.
    Notificaitons for likes, comments, follows, etc
    Better post creation, add filters to your image
    Custom Camera Implementation
    Animations (heart when liking image)
    Firebase Security Rules
    Delete Posts
    Registration without Google SignIn
    Direct Messaging
    Stories
    Clean up code

[2018-10-23 01:42] mdanics commented on #22
Feel free do them and submit PRs to help improve Fluttergram.

As for me, I feel as though Fluttergram is at a stage that I am happy with for now and will work on if I have time.

[2018-10-23 01:42] #22 closed

[2018-10-23 16:07] mdanics commented on #18
Closing because I cant replicate and believe it was fixed. Please reopen if it's still happening.

[2018-10-23 16:07] #18 closed

[2018-10-24 02:16] boreys opened #23 "Failure [INSTALL_FAILED_NO_MATCHING_ABIS]"
I got this error when trying to install app-release.apk to my device for testing

Failure [INSTALL_FAILED_NO_MATCHING_ABIS]

[2018-10-24 03:32] mdanics commented on #23
hm, just tried on my device and it worked.

What device are you using?

[2018-10-24 04:37] boreys commented on #23
Samsung Alpha with Android 5.0.2
I believe when you compile it, you need to enable ABI

check this out: https://stackoverflow.com/questions/36414219/install-failed-no-matching-abis-failed-to-extract-native-libraries-res-113

[2018-10-24 05:31] mdanics commented on #23
[https://file.io/9d2tkF](https://file.io/9d2tkF) try this file

[2018-10-24 08:03] fiuser opened #24 "Would you be so kind to add a license to your project?"
I think it would be nice to add a license to the project, u can get more info here:

https://help.github.com/articles/licensing-a-repository/

Keep it up and good job,

[2018-10-24 18:18] mdanics commented on #24
Added

[2018-10-24 18:18] #24 closed

[2018-10-24 18:19] mdanics commented on #15
Upon another request, I have added a license.

[2018-10-25 06:07] boreys commented on #23
file not found

[2018-10-25 06:43] fiuser commented on #24
Thank you to add it. But please check this link:

https://creativecommons.org/faq/#can-i-apply-a-creative-commons-license-to-software

From the previous link:
Unlike software-specific licenses, CC licenses do not contain specific terms about the distribution of source code,..

This site maybe can help you:

https://choosealicense.com/

[2018-10-26 04:21] mdanics commented on #23
https://ufile.io/1werv

apologies

[2018-10-26 06:31] boreys commented on #23
photo upload does not work, I got error when testing it. try to install the app and upload a photo.

[2018-10-26 21:05] mdanics commented on #23
hm sorry, but I guess Fluttergram isn't compatible with older versions of Android. As fluttergram isn't a product, I personally won't be putting more time into trying to support older devices. Sorry.
By all means, fork the project try to get it to run on your device, if you're successful a PR would be great.

[2018-10-26 21:05] #23 closed

[2018-10-26 21:07] mdanics commented on #20
Had some time, and implemented it. Download the most recent apk to try it out.

[2018-10-29 15:01] ScottYelich opened #25 "Cloud Functions Setup"
Following README.md

firebase deploy --only functions

=== Deploying to 'fluttergramdemo'...

i  deploying functions
i  functions: ensuring necessary APIs are enabled...
✔  functions: all necessary APIs are enabled
i  functions: preparing functions directory for uploading...

Error: Error parsing triggers: Cannot find module './notificationHandler'

Try running "npm install" in your functions dire

[2018-10-29 15:05] ScottYelich commented on #25
node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://node-precompiled-binaries.grpc.io/grpc/v1.15.1/node-v67-darwin-x64-unknown.tar.gz
node-pre-gyp WARN Pre-built binaries not found for grpc@1.15.1 and node@11.0.0 (node-v67 ABI, unknown) (falling back to source compile with node-gyp)
node-pre-gyp WARN Pre-built binaries not installable f

[2018-10-29 15:05] ScottYelich commented on #25
This seems like a really interesting project -- but it's very difficult to get working.  Is there any way we could share screens or something so you could see all the issues occurring after a fresh clone and initial configuration attempt?  There doesn't seem to be a way to contact you other than through issues ... sorry.

[2018-10-29 15:30] ScottYelich commented on #25
I uninstalled everything node and npm and firebase on my machine and re-installed everything ... and ended up with the same errors.

[2018-10-29 16:11] harshapulikollu commented on #25
Error is due lack of JavaScript files. can't find the notificationHandler.js and  getfeed.js files in lib folder to upload.
But we have typescript files in src folder which we can use for cloud functions.

[2018-10-29 16:23] ScottYelich commented on #25
The (larger?) issue appears to be with node-pre-gyp ...
I'm trying random version combinations (as recommended via google searches) to try to find some combination of versions that work.  So far, I haven't had any luck getting node-pre-gyp to compile (and it seems that there are no static libraries available to fetch)

[2018-10-29 16:51] mdanics commented on #25
Sorry guys, changed the file structure for cloud functions which messed things up, will look into it

[2018-10-29 17:18] mdanics commented on #25
Changed how I was importing the files, also forgot to add the new js files to git.. Should be good now, lmk

[2018-10-29 17:27] ScottYelich commented on #25
Thanks for the quick response.
I just did a fresh clone and received the following after running "firebase init" (selecting all components of firebase -- and javascript (later, not typescript):

? Do you want to install dependencies with npm now? Yes

node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://node-precompiled-binaries.grpc.io/

[2018-10-29 17:28] ScottYelich commented on #25
Scotts-Pro-SSD480 [637]> pwd
/no/dart-flutter/fluttergram-5
Scotts-Pro-SSD480 [638]> cd functions/
Scotts-Pro-SSD480 [639]> cp lib/in
index.js      index.js.map
Scotts-Pro-SSD480 [639]> cp lib/index.js .
Scotts-Pro-SSD480 [640]> npm install

node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://node-precompiled-binaries.grpc.io/grpc/v1.15

[2018-10-29 17:36] ScottYelich commented on #25
Are you developing on OSX (Mojave?) ... if so, would you be able to do a fresh install of node/npm/firebase -- to see if you get the same results as shown here?  I used brew to install npm, then used npm to install all (npm) dependencies (firebase, etc.).

[2018-10-29 18:41] mdanics commented on #25
Here's what I did, and was working:

New install of Fluttergram
`git clone https://github.com/mdanics/fluttergram.git`
`cd fluttergram/functions`
`firebase init`
select cloud functions only
`What language would you like to use? -> typescript`
`Do you want to use TSLint to catch probable bugs and enforce style? -> yes`

**Do not overwrite any files**
`File functions/package.json already exists. Ove

[2018-10-29 18:54] ScottYelich commented on #25
I think there is some set of dependencies on your system that just makes this work ... for someone with a fresh install and/or on another system -- a clean install (node/npm/firebase/etc) fails:

Scotts-Pro-SSD480 [644]> cd
Scotts-Pro-SSD480 [645]> cd /no/
Scotts-Pro-SSD480 [646]> cd dart-flutter/
Scotts-Pro-SSD480 [647]> git clone https://github.com/mdanics/fluttergram.git
Cloning into 'fluttergr

[2018-10-29 19:26] mdanics commented on #25
Looks like the issue is
? Do you want to use TSLint to catch probable bugs and enforce style? Yes
✔ Wrote functions/package.json
✔ Wrote functions/tslint.json
✔ Wrote functions/tsconfig.json
✔ Wrote functions/src/index.ts
✔ Wrote functions/.gitignore
? Do you want to install dependencies with npm now? Yes

For some reason I get the option to skip the overwrite

[2018-10-29 19:42] mdanics commented on #25
Seems like I get the option to skip the overwrite only if i'm choosing a firebase project which i already deployed the functions to. Will look into skipping the overwrite more,  but from some googling it doesn't look like theres an option.

Do you know how other projects that use cloud functions do this?

[2018-10-29 19:52] ScottYelich commented on #25
I'm not sure I understand what this has to do with gyp not being able to compile.

If you are seeing skip due to already having functions deployed -- can you create a new temporary firebase project to test -- and do a clean install of npm/node/firebase/etc and then try to run through the steps of the README?

I am pretty sure that I was able to deploy to this project previously (via another direct

[2018-10-30 04:21] mdanics commented on #25
I don't have a lot of time on me, and so making a script isn't feasible for me atm.

Hopefully when we sort this out, I will revise the readme instructions to make it more clear.

As per the `Cannot find module '@google-cloud/firestore'.` in your error, do you have:
https://www.npmjs.com/package/@google-cloud/firestore installed?

[2018-10-31 13:06] harshapulikollu opened #26 "How to show a Map values in listview"
As you know user's following and followers are in Map data type, I want to know how can we show them in listView with their username and display image just like we are doing in search...
**Scenario:**
![screenshot 72 _li](https://user-images.githubusercontent.com/22256553/47789818-a5d7ea80-dd3b-11e8-81ff-a1b7ddde1ccf.jpg)

I tried as much as I can but can't get that work, Please help me on this to

[2018-11-01 20:35] mdanics commented on #26
Were you able to solve this?

[2018-11-02 03:17] harshapulikollu commented on #26
I guess i did solved it but Donno whether it's a effective way to do it or not.

[2018-11-03 11:03] harshapulikollu commented on #26
I'm getting only any one user through the way I implemented. Can you help to find out a way to get all following and followers.

[2018-11-07 00:52] mdanics commented on #26
The way I would do it is:
- we have a map of the followers/following
  - get the userIds from the map as a list
- loop through the list of userIds and call to firebase to get the user info
- display the list of users

btw I would love it if you create PRs for some of the features you've been adding to mercury, like location when posting, messaging, etc

[2018-11-07 03:43] harshapulikollu commented on #26
I did it using a cloud function http trigger with user ID as a query string it will fetch as users and show the list to user. I'm thinking to release mercury so once I'm done with it all and release it to play/app store then I'll create a PR.

[2018-11-07 04:57] harshapulikollu commented on #26
I did it using a cloud function HTTP trigger with userID as a query string(like **http://uscentral.projectname.functions.net/getFollowing?uid=_userId_**  it will fetch all following users and show the list to user. I'm thinking to work on this more sure ASAP I'll create a PR and contribute to this repo.

[2018-11-07 05:00] mdanics commented on #26
Awesome, thank you! look forward to reviewing them :)

[2018-11-07 05:00] #26 closed

[2018-11-19 18:30] mdanics commented on #25
Were you able to fix this?

[2018-11-20 22:38] lauramorinigo commented on #25
I follow the steps that you mentioned and I was able to solve it, thanks!

[2018-11-21 02:15] mdanics commented on #25
@lauramorinigo Which instructions? The instructions in the Readme or something that was said in this thread?

[2018-11-21 02:20] lauramorinigo commented on #25
@mdanics this instructions, I had the same "Error: Error parsing triggers: Cannot find module './notificationHandler'" and after following this it was solved!

[2018-11-21 02:36] mdanics commented on #25
Great, thanks for the confirmation.

[2018-11-21 02:36] #25 closed

[2018-11-28 09:39] aldeecura commented on #25
Firebase initialization is successful :)

however when i do the $ firebase deploy --only functions, i got an error, how to fix the path in Windows?

do i need to uninstall the node.js and install again?  to which path?
is this a permission issue?

![image](https://user-images.githubusercontent.com/20678645/49142692-84274e80-f34d-11e8-9ad4-b15826fbd67d.png)

[2018-11-28 10:16] aldeecura commented on #25
i already uninstall the node.js and use the nvm installer https://github.com/coreybutler/nvm-windows

but still got no luck,
error locating the  package.json file

[2018-11-28 20:46] mdanics commented on #25
@aldeecura i'm not sure about node.js and path issues on windows sorry. It looks like this is an issue with your node setup rather than fluttergram

[2018-12-26 20:43] mediakliq commented on #25
Hello I followed your instructions and got everything to work except for the feed. Here's the error I'm getting back after I make a post:

5.15.0 - [Firebase/Firestore][I-FST000001] Listen for query at insta_posts failed: The query requires an index. You can create it here: https://console.firebase.google.com/project/fluttagram-2c422/database/firestore/indexes?create_index=EgtpbnN0YV9wb3N0cxoLCgdv

[2018-12-27 02:25] harshapulikollu commented on #25
click on the **link** (https://console.firebase.google.com/project/fluttagram-2c422/database/firestore/indexes?create_index=EgtpbnN0YV9wb3N0cxoLCgdvd25lcklkEAIaDQoJdGltZXN0YW1wEAIaDAoIX19uYW1lX18QAg) in your **stacktrace** . it will take you to your firebase console and there index will be created, then you can able to see your feed in app

[2018-12-28 17:05] mediakliq commented on #25
@harshapulikollu

Thanks yes I did click on the link and was able to create index. The feed now works on the profile only and not on the home feed. Is there another index I need to create?

[2018-12-29 06:19] harshapulikollu commented on #25
Only one index is required according to my knowledge. I'm using only one i.e insta posts. Try to rebuild again it should work

[2019-01-01 01:40] powerspowers opened #28 "noted about installation"
Hi - in your setup instructions it should be pointed out that you have to change the Bundle ID in XCode to match the one you create in Firebase that is in the GoogleService-Info.plist file. Also, the index for the insta_posts has to be created in Firebase. Still building the project, thanks for creating it!

[2019-01-01 01:43] powerspowers commented on #5
I think this might be caused by the Index for insta_posts not being built in Firebase

[2019-01-02 01:33] powerspowers opened #29 "Uploader seems to crash on iOS"
When clicking on the + icon to add an image I get the following on my attached iPhone XR running iOS 12.1

I will work on debugging but I'm rather new to flutter. It looks like it requires waiting for the Uploader object to initialize before building a dependent object.

[code]

[2019-01-04 08:56] and1990 opened #30 "feed url does not show"
Hi, guys.
I have faced a problem when I built fluttergram.

After I deployed my functions, the console didn't show feed url, the log is:
[code]

[2019-01-04 09:12] harshapulikollu commented on #30
Hi, in most of the cases your feed url should be "

for example it can be like shown below

where userID is passed dynamically.

[2019-01-07 20:54] mdanics commented on #30
@and1990 Were you able to get it working with @harshapulikollu's comment?

[2019-01-08 04:35] amizanali commented on #25
I'm having the same problem, however clicking on the link to create index only brought me to a firebase page with the error

"There was an unknown error while processing the request"

[2019-01-08 05:17] amizanali commented on #25
have the same problem, feed only works on profile tab, but not on activity feed nor home tab. Anything else I'm missing?

[2019-01-08 06:36] amizanali opened #31 "Feed only works on Profile"
First of all, this is a great project. So far I manage to build the app but there is a slight roadblock on the feed.

So far it only works on Profile, but the feed does not load on Home.

Am I missing something?

[2019-01-08 16:59] mdanics commented on #31
Have you created your firebase function and changed the url in `feed.dart`?

[2019-01-09 01:08] amizanali commented on #31
Surprisingly after rebuilding the app, and following another user, the Home starts to show the posts from the other user.

[2019-01-09 01:10] mdanics commented on #31
Oh haha that makes perfect sense. The feed consists of posts of users that you follow, and so not following anyone will result in an empty feed.

I guess there should be a message in-place of the feed notifying the user that they should follow people :)

[2019-01-09 01:10] #31 closed

[2019-01-10 06:29] and1990 commented on #30
@mdanics Hi, sorry for reply late.
Actually, I don't figure out what he said. When I ran 'firebase deploy --only functions' command, the console didn't show some URLs like the 'getFeed' URL. What should I do?

[2019-01-10 17:01] mdanics commented on #30
If you log in to firebase and click the functions tab you can see the url which you can copy and paste.

<img width="800" alt="screen shot 2019-01-10 at 12 00 00 pm" src="https://user-images.githubusercontent.com/10066840/50984240-63ffb900-14cf-11e9-8da4-501f350fde91.png">

Let me know if this works

[2019-01-30 04:44] mishubham opened #32 "alert dialog box"
the argument type Context cant be assign to parameter type BuildContext error in alert dialog box

  return showDialog<Null>(
    context: context,         //here error
      barrierDismissible: false, // user must tap button!

[2019-01-31 04:27] mdanics commented on #32
When are you getting this error?

[2019-01-31 04:27] mdanics commented on #30
@and1990 did you find the url?

[2019-01-31 04:31] mishubham commented on #32
getImage() async {
    return showDialog<Null>(
      context: this.context,                                           //i'm solve this error by putting this.context
      builder: (BuildContext context) {
        return new SimpleDialog(
          title: const Text('Create a Post'),
          children: <Widget>[
            new SimpleDialogOption(
                child: const Text('Take a photo')

[2019-01-31 06:38] mdanics commented on #32
What OS are you experiencing this for?

[2019-01-31 12:08] mishubham commented on #32
ubuntu

[2019-01-31 18:51] mdanics commented on #32
Sorry, I meant iOS or Android?

[2019-02-01 03:48] mishubham commented on #32
android

[2019-02-04 20:17] mdanics commented on #32
After looking into this further, the sample code you provided is not code from Fluttergram.

The most similar function I could find is `_selectImage()` in `upload_page.dart` which is as follows

[code]
Which works without any issues.

[2019-02-04 20:17] #32 closed

[2019-02-04 20:18] #30 closed

[2019-02-05 04:20] eagerashwani commented on #25
@mdanics have the same problem like @aldeecura

[2019-02-05 04:34] mishubham commented on #32
ok thx

On Tue, Feb 5, 2019 at 1:47 AM Matthew Danics <notifications@github.com>
wrote:

[2019-02-07 16:17] michaelchow2324 commented on #6
I got this error too when I tried to add a photo from a library, any ideas to solve this issue?

[2019-02-19 15:07] orazz opened #33 "bottom navigation bar"
How to set bottom navigation bar always on the bottom?

[2019-02-20 21:12] mdanics commented on #33
In what scenarios is it not on the bottom? From my understanding it's always on the bottom?

[2019-02-21 21:37] orazz commented on #33
I mean when clicking to the post it's opening new page and bottom navigation disappear

[2019-02-22 09:24] iammuhdimran opened #34 "image take too long to upload and render on feed."
Hello there, your Fluttergram code are incredible but i have slight problem with it.
The image that i uploaded is taking too long to upload.
Furthermore, it seem that the image of another person i follow is taking too long to appear on feed.
Do you know if there is any solution for me to make it faster?
Thank you.

[2019-02-22 16:09] mdanics commented on #34
You could increase the compression in the uploader page

[2019-02-25 02:58] amizanali commented on #34
how about the images that is taking longer to load, especially on the home feed and my profile feed? is there any way to make it load faster?

[2019-02-25 03:03] amizanali commented on #34
how about the images that is taking longer to load/render, especially on the home feed and my profile feed? is there any way to make it load/render faster?

[2019-02-25 11:44] harshapulikollu commented on #34
Images take longer period time of time to load for 2 reasons
1. If internet speed is slow.
2. Image size(resolution) is high(very big).
You can't do with anything for first reason.
For the second what you can do is increased the compression rate while uploading the pic to server (which will increase uploading time in less spec devices as compression might take a while) such that images will retrie

[2019-02-25 16:35] randaalfakih commented on #34
Does anyone have an idea how I could navigate through a single bottom
navigation bar item with staying on the same tab without it dissapearing?

On Mon, Feb 25, 2019 at 1:44 PM Harsha Pulikollu <notifications@github.com>
wrote:

[2019-02-25 22:30] mdanics commented on #33
Oh, that would require some restructuring of the code. Unfortunately this is not something I have time for now, however if you do end up doing it a PR would be greatly appreciated.

[2019-02-25 22:30] #33 closed

[2019-02-25 22:31] mdanics commented on #34
@harshapulikollu explained it perfectly. Thank you.

[2019-02-25 22:31] #34 closed

[2019-03-02 20:59] ramalamadingdong commented on #25
@mediakliq I am having the same issue have you been able to resolve it?

[2019-03-15 02:13] vimalvachhani commented on #25
Make sure to update firebase.json to the following and run -- sudo npm install tslint typescript -g to make sure tslink is up and running first.

{
  "functions": {
    "predeploy": [
      "npm --prefix \"%RESOURCE_DIR%\" run lint",
      "npm --prefix \"%RESOURCE_DIR%\" run build"
    ],
    "source": "functions"
  }
}

[2019-03-25 14:23] didiosn opened #35 "getFeed.js returns no data : []"
Hi, this is awesome project. I've cloned it, follow steps, creates indexes. All pages are now working except the home page, which display data returned by getFeed.js. I've tried to see, in my browser with url, if something is returns : YES I have a result by empty one. But I have 3 posts from 2 different users.

Any ideas ?

Thanks

[2019-03-26 17:02] mdanics commented on #35
Are you following the users with the posts?

The getFeed function only returns posts from people you follow as to mimic the social media experience.

[2019-03-26 17:13] didiosn commented on #35
Yes, sure... You're right, I forgot to follow users. Now it's full working.
getFeed.js query can be done with a normal firebase query on insta_posts, I guess, why did you choose an external function?

[2019-03-26 18:11] mdanics commented on #35
Glad you got it working!

For making it an external function, I guess it felt more conventional to have an an API call pull in the results for the feed rather than locally querying. Also if the database becomes heavily populated, it would be preferred to have the processing happen not locally, as it would slow the device down. Lastly this architecture would allow for customization of how the feed

[2019-03-26 18:11] #35 closed

[2019-03-26 18:20] mdanics commented on #25
@ramalamadingdong @mediakliq sorry for the late response, didn't see notifications for your comments.

I think the issue that @mediakliq is encountering:

is due to not following any users with posts. The getFeed function only returns posts from people you follow as to mimic the social media experience, so you will need to create another account and make posts and then follow it with your main acc

[2019-03-29 13:23] Isonomic commented on #21
can you explain how to do this? I am stuck on this step. Do i type this on the command line or something Push the function getFeed with firebase deploy --only functions In the output, you'll see the getFeed URL, copy that.........Like it says push the function getFeed. How do I push this. Thanks for helping a newer and slowly learning dev guys

[2019-03-29 13:25] Isonomic opened #36 "I am stuck on the get feed push function"
I am stuck on this step, the push the getFeed funstion. Do i type this on the command line or something?......... """"""Push the function getFeed with firebase deploy --only functions In the output, you'll see the getFeed URL, copy that """""""""""".........Like it says push the function getFeed. How do I push this. Thanks for helping a newer and slowly learning dev guys

[2019-03-29 13:46] #36 closed

[2019-03-31 22:15] GustavoContreiras commented on #35
I'm receiving some errors that causes empty feed even following other users:
I/flutter ( 7793): Error getting a feed:
I/flutter ( 7793): Http status 500

Does anybody knows how to solve?

[2019-03-31 22:18] GustavoContreiras commented on #6
I got it too. Restarted app and it was solved.

Edit: It happened when I forgot to change the url on feed.dart file. I'm gonna try to reproduce again.

[2019-03-31 22:22] mdanics commented on #35
@GustavoContreiras What are the logs in the firebase console?

[2019-03-31 22:24] GustavoContreiras commented on #35
Thanks for the fast answer. That happened because I forgot these steps:
[code]
I was going to edit my last comment.

Nice project!

[2019-03-31 22:25] mdanics commented on #35
Awesome, glad you figured it out!

[2019-03-31 22:27] mdanics commented on #6
@michealchow2324 @GustavoContreiras are you guys able to reproduce this error?

[2019-03-31 22:29] GustavoContreiras opened #37 "User search just found results with complete display name"
Searched for a user called "Pendulum Pala" with username "pendulumpala".
Typing:
Pendulum -> found
pendulum -> not found
pendulumpala -> not found
pendulum pala -> not found
pendulum Pala -> not found
Pendulum Pala -> found
Pala -> found
pala -> not found

I'm gonna try to improve that search and then I come back here.

[2019-03-31 22:33] GustavoContreiras opened #38 "Feed should display your own photos too"
The original app shows the photos you posted on your news feed.

[2019-03-31 22:42] GustavoContreiras commented on #6
- Deleted user authentication on firebase console
- Deleted user posts on database
- Logged in with user
- Set username
- Went to upload photo page
- Took a photo
- Clicked on confirmation
![image](https://user-images.githubusercontent.com/38460351/55296230-e9b74480-53ec-11e9-96db-ec733e1615b7.png)
First try debug console: https://pastebin.com/qKAZBZmQ

- Closed app
- Restarted
- Went to upload ph

[2019-03-31 22:54] GustavoContreiras opened #39 "Find and replace all "new " for """
Dart 2 makes the new keyword optional. Even in Dart 1, its meaning was never clear because factory constructors mean a new invocation may still not actually return a new object.

The language still permits new in order to make migration less painful, but consider it deprecated and remove it from your code.

https://dart-lang.github.io/linter/lints/unnecessary_new.html
https://www.dartlang.org/guid

[2019-03-31 22:56] GustavoContreiras commented on #28
I founded the url link to create the index inspecting the debug console. Not everybody will see that.

`W/Firestore( 7503): (0.6.6-dev) [Firestore]: Listen for Query(insta_posts where ownerId == 117644910200781115007 order by timestamp) failed: Status{code=FAILED_PRECONDITION, description=The query requires an index. You can create it here: https://console.firebase.google.com/project/<YourProject>

[2019-03-31 23:05] GustavoContreiras opened #40 "Username textfield goes blank on the first try to register"
### Reproducing
- Clean database users and authentications
- Delete app from emulator
- Run application
- Login with google account
- Write username
- Press next or confirmation on keyboard
- Username field will erase
- Write again
- Press next or confirmation on keyboard
- Username will be accepted and you will be redirected

Debug console: https://pastebin.com/XSe6RReT

[2019-04-01 03:50] GustavoContreiras opened #43 "Error when opening upload page for the first time"
[code]

![image](https://user-images.githubusercontent.com/38460351/55302586-192f7680-5418-11e9-9b8e-519036f11f73.png)

https://stackoverflow.com/questions/54910211/errorflutter-lib-ui-ui-dart-state-cc148-unhandled-exception

[2019-04-01 13:51] GustavoContreiras opened #44 "Home page interface dont save likes when switching pages"
## Reproducing
- Like a photo on the home page
- Likes counter will increase and hearth will be coloured
- Switch pages
- Go back to home page
- Likes counter will reset and hearth will discolour
- The firebase database insta_posts will have the like saved

[2019-04-01 23:16] mdanics commented on #44
Thanks for pointing this out, state wasn't being persisted on any of the tabs. Fixed.

[2019-04-01 23:16] #44 closed

[2019-04-02 00:30] GustavoContreiras opened #45 "App tries to getFeed on Create username screen"
[code]
I've put some prints all around the code to understand how things were working and found some issues, this is one of them.

You can see in the end that the result return a http status 500.

[code]

[2019-04-02 19:32] mdanics commented on #38
You're right, I think what happened was I had followed myself through the firebase console for debugging purposes, but I think it's good for developers to be able to see their posts in the feed without having to make multiple accounts.

Added it with [this commit](https://github.com/mdanics/fluttergram/commit/69b5d69bc5f2d6f51c3deb2bdbb863977fdadf49)

[2019-04-02 19:32] #38 closed

[2019-04-02 19:34] mdanics commented on #35
@didiosn I actually made it so you can see your own posts with [this commit](https://github.com/mdanics/fluttergram/commit/69b5d69bc5f2d6f51c3deb2bdbb863977fdadf49)

[2019-04-02 19:34] mdanics commented on #31
I actually made it so you can see your own posts with [this commit](https://github.com/mdanics/fluttergram/commit/69b5d69bc5f2d6f51c3deb2bdbb863977fdadf49)

[2019-04-02 19:34] mdanics commented on #25
I actually made it so you can now see your own posts with [this commit](https://github.com/mdanics/fluttergram/commit/69b5d69bc5f2d6f51c3deb2bdbb863977fdadf49)

[2019-04-02 19:37] ramalamadingdong commented on #25
Sick Thanks!

[2019-04-02 19:39] mdanics commented on #25
Sorry forgot to mention, you will need to create a new account for it to take action

[2019-04-02 19:40] mdanics commented on #38
Forgot to mention that this will only take action for newly made accounts

[2019-04-02 19:41] mdanics commented on #35
Forgot to mention that this will only take action for newly made accounts

[2019-04-02 19:44] mdanics commented on #31
Forgot to mention that this will only take action for newly made accounts

[2019-04-02 21:45] mdanics commented on #37
Yeah the searching is not ideal. In order to do full text search we would need to implement [Algolia search](https://firebase.google.com/docs/firestore/solutions/search) which when I looked into it was on a separate pricing plan than firebase, and I wanted to keep project running for free.

If there's another alternative though I'd be interested in exploring it.

[2019-04-02 21:46] mdanics commented on #40
Do you know if this still happens when running the app in production?

[2019-04-02 22:31] GustavoContreiras commented on #37
Isnt it possible to get the text input and make variations of it? Something like, if I type: gustavo contreiras
Create new strings with variations:
Gustavo, GUSTAVO, gustavo, Contreiras, CONTREIRAS, Gustavo Contreiras, gustavocontreiras, ....
Then make one search for each generated word and return everything

[2019-04-03 01:31] gregology commented on #40
I had this same experience with the APK from.the readme on my Essential PH-1 running Android Pie.

[2019-04-03 01:39] mdanics commented on #40
Kk I'll look into it in the next few days

[2019-04-03 04:25] GustavoContreiras commented on #40
My solution for that was removing the "create username screen" and generate a username automatically on the first login with display name and random number.

Here is my signInWithGoogle function:
[code]

[2019-04-03 05:23] mdanics commented on #40
Awesome thanks @GustavoContreiras

I've found what's causing the bug, but in fixing it I've created more bugs (classic lol). I'll let you know when I've made progress

[2019-04-03 12:10] kamami commented on #34
@harshapulikollu any chance that you show how this is done? Sounds really nice and helpful!

[2019-04-09 15:38] aenulfi3 commented on #29
yeah it gave me an error after pressing confirm (Tick button) after taking a picture

[2019-04-09 21:14] kamami opened #46 "Google SignIn & Firebase Auth not working anymore after updating"
After updating flutter and some packages the Google SignIn is not working anymore. It seems that the package changed its procedure with the newest version.

https://pub.dartlang.org/packages/firebase_auth/versions/0.8.4+2
https://github.com/flutter/flutter/issues/27133

Should not be too difficult too update the code.

Thank you and btw great project and good job!

[2019-04-10 19:13] mdanics commented on #46
I did an update of all the packages on a the branch [update_dependencies](https://github.com/mdanics/fluttergram/tree/update_dependencies) but haven't done sufficient testing to merge it with master.

If you have a chance, can you check it out and let me know if it works for you on your end?

Thanks

[2019-04-14 08:28] GustavoContreiras commented on #25
Somehow Firebase is skipping the overwriting options for me now:
[code]

[2019-04-14 17:16] GustavoContreiras commented on #46
There are too many bugs and errors on the first run (with fresh database, fresh account and fresh installation with clean cache).
I think you should try and see for yourself.
You did a great job with this project but this kind of thing can make people a little angry.

Also I think you shoud modularize and encapsulate some classes and methods and maybe change some variables name. Like a big revisio

[2019-04-15 01:45] GustavoContreiras commented on #46
Something like that on main.dart:
(copy and paste wont work cause I am using circle_wave_progress package and because I updated firebase auth to 0.7.0, but take a look at the architecture, how the pages are loading and etc)

A little explaining:
If isLogged boolean is null, show a loading screen (will be shown for 1 sec) and then create Google and Firebase instances and then update isLogged boolea

[2019-04-15 02:35] mdanics commented on #46
Thank you I appreciate the feedback and help. I'm currently in the middle of exams so I will not be able to work on this until the summer, at which I will at a minimum fix these bugs + explore doing a full revision.

[2019-04-17 17:31] kamami commented on #46
@GustavoContreiras could you please provide your User.dart file? I would like to update my version with your improvements. Would appreciate it! Thanks

[2019-04-17 18:52] GustavoContreiras commented on #46
@kamami I don't recommend copy and paste, but you can try.

user.dart:
[code]

main.dart:
[code]

[2019-04-17 18:56] GustavoContreiras commented on #40
Easy solution: https://github.com/mdanics/fluttergram/pull/47/commits/542bb7c643b81012920a85f28367173823eead88

[2019-04-17 19:03] kamami commented on #46
@GustavoContreiras Thanks but there are too many other files missing. Nevermind, I will stick to the repository.

[2019-04-17 19:06] GustavoContreiras opened #48 "Update firebase-core and google-services dependencies on gradle"
My android/build.gradle:
[code]

My app/build.gradle:
[code]

My pubspec.yaml:
[code]

I think it's ok to update it. Working without errors here (in the version without AndroidX).

[2019-04-17 19:33] kamami opened #49 "Instagram-clone"
I did not know where to post this, so I just thought it would be a goog idea to open a new issue.

https://github.com/mohak1283/Instagram-Clone

Did you guys see this? Any thoughts on it? I tested it and it is a exact clone of this project here, except it has some more features like chat, etc.

[2019-04-17 19:53] GustavoContreiras commented on #46
Thats because thats for my own project. I'm using a circle_wave_progress package for a custom CircularProgressIndicator and maybe other dependencies version (check here https://github.com/mdanics/fluttergram/issues/48).

Later I'll try to make a fresh download from the repository and make a clean pull request with these changes in case anybody want to do that.

Edit:
@kamami maybe that's what is m

[2019-04-17 19:57] GustavoContreiras commented on #49
The code looks cleaner, I'll use it to check if I'm doing things right on my custom fluttergram.
Anyway, I don't know how licenses work but the mdanics fluttergram has one: https://github.com/mdanics/fluttergram/blob/master/LICENSE

[2019-04-17 19:59] kamami commented on #46
@GustavoContreiras that would be really cool if you could provide your changes here! They seem like a good improvement and I would love to try them out! Thanks

[2019-04-17 22:32] mdanics commented on #49
Yes I saw it, and considering the read me is a straight copy of mine it seems he has taken a lot of _inspiration_ from this project, while cleaning up code and adding features.

[2019-04-17 22:32] #49 closed

[2019-04-17 22:34] mdanics commented on #46
@kamami did you checkout the branch with the updated dependencies?

[2019-04-18 08:16] kamami commented on #46
@mdanics I tried it yesterday evening and the auth works fine with the updated main file!

[2019-04-19 13:24] GustavoContreiras opened #51 "Improvements on startup and UI"
Edit: Links are broken and I don't recommend anymore this approach.

- You can see changes here:
https://github.com/GustavoContreiras/fluttergram/commits/master

(Don't copy and paste, use it as a guide and make changes by yourself. I'm almost sure these commits have errors.)

- How it is working:
Main starts, then set timestamps true in firestore while is loading FluttergramApp.
The pageControlle

[2019-04-19 13:43] GustavoContreiras commented on #51
@kamami

[2019-04-19 17:35] mdanics commented on #51
Awesome, thank you for your help! I'll take a look at implementing these in the upcoming weeks.

[2019-04-20 08:07] kamami commented on #51
@GustavoContreiras good job! Thank you!

[2019-04-20 19:22] GustavoContreiras opened #52 "copyResize method is locking UI"
The last time I downloaded this project, the compressImage method was calling copyResize from image package and this was locking the UI cause flutter uses a single thread.

Here is the solution:
https://github.com/brendan-duncan/image/wiki/Examples

[2019-04-20 20:43] GustavoContreiras commented on #52
Edit: old message was with deprecated code, check out this if you still want to solve
[code]

[2019-04-23 12:43] kamami commented on #51
@GustavoContreiras did you remove your changes from the repository? Cant find them anymore.

[2019-04-24 15:34] LukeOB commented on #25
Hey @mdanics I'm a bit of a noob but have been scratching my head all morning trying to figure this out -- I seem to be having the same problem as @ScottYelich above.

I followed your steps and can initialize firebase, but I think I'm overwriting your functions as it didn't give me the option not to. Then when I try to deploy I get a bunch of errors.

Any help much appreciated! Cheers, Luke

**fir

[2019-05-01 02:39] mdanics commented on #40
Hey guys sorry for the delay, got busy with exams.

I appreciate the solution @GustavoContreiras, but I'm not a fan of the random numbers so I did some more digging and I think I fixed it with [this commit](https://github.com/mdanics/fluttergram/commit/4c247c64a9b6aad3cc90ae5d59fcfc3605489e54).

havent updated the apk, but if you pull master and still face this bug, please let me know and I will r

[2019-05-01 02:39] #40 closed

[2019-05-01 02:59] mdanics commented on #43
[fixed ](https://github.com/mdanics/fluttergram/commit/af93ed0452d5d96b762e3597084c4a8f2f1ad277)

[2019-05-01 02:59] #43 closed

[2019-05-02 01:02] GustavoContreiras commented on #40
Your project, your rules haha.

But in both ways we gotta check if the username already exists.

I'm using this code to check it but I'm not sure if that's right:

[code]

[2019-05-02 03:06] mdanics commented on #40
Haha thanks appreciate all the help you've given with Fluttergram

I'll look into implementing unique usernames, however I believe there aren't any places where fluttergram actually requires unique usernames as users are only referenced by their id. Nonetheless, unique usernames would be more _instagramy_ so it could be worthwhile

[2019-05-03 05:16] #45 closed

[2019-05-03 05:21] #46 closed

[2019-05-03 05:38] mdanics commented on #48
Awesome thanks!

[2019-05-03 05:38] #48 closed

[2019-05-03 05:47] mdanics commented on #6
This is now fixed with the improvements with the username screen.
The issue was that `currentUserModel` was not correctly being assigned during the sign up and username selection process.

[2019-05-03 05:47] #6 closed

[2019-05-03 17:57] #39 closed

[2019-05-07 17:14] randaalfakih commented on #48
What did you do for the errors for androidX

On Fri, May 3, 2019 at 9:38 AM Matthew Danics <notifications@github.com>
wrote:

[2019-05-20 22:39] mdanics commented on #51
@GustavoContreiras

Where can I find the code changes to make this happen?

[2019-05-20 23:22] GustavoContreiras commented on #51
@mdanics
This is my custom widget `app_floating_action_button.dart`
When I press the floating action button it opens a dialog with the 4 options from ImagePicker.
[code]
You need to change the onPressed functions making it call ImagePicker and then (check if return null and) send the picked image to the upload page.

[2019-05-20 23:39] mdanics commented on #51
Ah ok thank you, I misunderstood your comment and thought you meant you overrode the bottom navigation bar to directly open the dialog

[2019-05-20 23:46] GustavoContreiras commented on #51
@mdanics
For the bottom navigation bar with 4 items and a 5th centered bigger button (the app floating action button) I'm using this `app_bottom_navigation_bar.dart` class that I found somewhere here in GitHub:
[code]

So, I do this in almost every page from my app:
[code]

[2019-05-23 00:05] GustavoContreiras opened #54 "Timestamps being set wrong"
I think you are setting timestamps wrong in almost everything stored on Firestore.

https://github.com/mdanics/fluttergram/search?q=timestamp&unscoped_q=timestamp

If you post `"timestamp": DateTime.now().toString(),` it will save just a **String** and if you want to do some query with that it will require more steps than necessary.

But if you post `"timestamp": DateTime.now()` it will save a **T

[2019-05-23 00:26] GustavoContreiras opened #56 "Architect insta_users collection for better performance"
If each user (document) of the "insta_users" collection had inners collections called "followers" and "followings" that contains a string with the id of the user you are following/being followed, you could **delete** them **instead** of **setting null**. I know this project wasn't designed for millions of users but I think it's good to point this out.

[2019-05-23 00:44] mdanics commented on #56
Yes you are right. At the time of writing Fluttergram the firebase plugin did not have deletion support so this was a workaround.
Now the plugin does support it, it would make sense to rearchitect it but I'm not sure if that is something I will have time for...

[2019-06-02 17:01] jaynelim opened #57 "No visible @interface for 'FIRInstanceID' declares the selector 'token'"
build fails because getting error in FirebaseMessagingPlugin.m.
the error is generated from line 176.
here's the code on line 176:

[_channel invokeMethod:@"onToken" arguments:[[FIRInstanceID instanceID] token]];

using legacy system.
any solutions?
thanks.

[2019-06-02 22:46] mdanics commented on #57
I will take a look into this. What do you mean by legacy system?

[2019-06-02 22:48] mdanics commented on #54
Ah yes, this was another limitation of Firebase at the time of writing Fluttergram. There was no true date-time support.

I'll get on fixing this and the other workarounds for the old firebase

[2019-06-03 20:58] jaynelim commented on #57
hello i mean xcode legacy build system. because i was getting error like "Multiple commands produce '/build/ios/Debug-iphonesimulator/Runner.app..." and according to "https://github.com/flutter/flutter/issues/20685" i changed build system to legacy build system.

the build was working after i made that change, until it threw the above error [_channel invokeMethod:@"onToken" arguments:[[FIRInstance

[2019-06-17 17:30] gotohelli789 opened #58 "Paginated feed"
Feed needs to be **paginated** as it loads all data at once. Is there any plan for pagination?

[2019-06-18 01:28] mdanics commented on #58
Currently not planning on adding pagination soon as Fluttergram doesn't deal with lots of traffic and is more of a POC. That's not to say I may not add it in a few months, but unlikely.

Feel free to submit a PR if you get around to implementing this

[2019-07-05 04:38] amizanali opened #59 "Saving Longitude and Latitude coordinates as well"
I'm trying to figure out how to save the longitudes and latitudes of the location chosen by user into the database as well.

[2019-07-08 19:16] lockeygit opened #60 "Sorting posts on Home page by timestamp"
Got the app working (on IOS), but posts on the main (homepage) are oldest-first, rather than newest-first as you'd expect from a social app.  Any way of changing the order?
I've tried various alternatives to the "orderBy("timestamp")" in getFeed.js which I guess is what's causing the issue (eg orderBy("timestamp","desc") but can't find one that works!!  (should add that at the moment, I'm the only

[2019-07-19 15:28] sumanabhi commented on #25
Hello, I am following your comments here but unable to get the exact scenario or something else maybe that leading to an error.

1. Should we create new functions or just write the code `firebase init` and then do follow the readme.
Please check the directory and tell me what I am doing wrong.

[code]

because I am unable to run the project.

[2019-07-19 17:55] sumanabhi opened #61 "Unable to Setup Cloud Functions Setup"
I am trying to cover the Cloud function but unable to do so.

[code]

Please tell me what I am doing wrong.

[2019-07-23 17:28] SebastianBO commented on #57
Any update?

[2019-07-24 03:56] mdanics commented on #57
Can you guys provide steps to reproduce?

[2019-07-31 01:18] mdanics commented on #59
I would take a look at the `postToFireStore` function in [upload_page.dart](https://github.com/mdanics/fluttergram/blob/master/lib/upload_page.dart). That is where the posts are being saved. You can add any additional properties you want.

[2019-07-31 01:18] #59 closed

[2019-07-31 02:53] mdanics commented on #29
@powerspowers @aenulfi3 I know i'm a little late on this but: I tried to reproduce this on both an iOS simulator and an iPhone 8 running iOS 12.3.2.

Is this something that you guys can still reproduce, if so can you provide some steps for reproducing?

[2019-07-31 03:08] mdanics commented on #60
I'm pretty sure that this is related with #54, once that's fixed i'll ensure that the feed is in the correct order

[2019-07-31 03:20] powerspowers commented on #29
I couldn't figure this out so I had to move on. I think its hard to test on a simulator because iPhone simulator doesn't let you upload photos correct? My stack dump was the last tangible information I had.

Currently I'm testing out the alpha of the Flutter for Web release. Its quite promising although still wobbly. Your example helped me get up to speed so big thank you.

[2019-07-31 03:29] mdanics commented on #29
Yeah simulator didn't let me take photos, so I tried with a real iPhone 8, but it seems to be working. It could have been an old plugin failure that has now been resolved. I'm going to close the issue for now, but i'll keep an eye out

Glad I could help :) Flutter for web is exciting, haven't had a chance to explore it yet, but it would be cool to get a web side to Fluttergram going (if only i had

[2019-07-31 03:29] #29 closed

[2019-08-02 12:04] lockeygit commented on #60
Yes, I've updated upload_page to "timestamp": DateTime.now() so that's saving correctly as a Timestamp.
Issue with getFeed.js was that it needed an index (on ownerId & timestamp) for orderBy("timestamp","desc") to work, and it wasn't showing that as an error until I used firebase functions:log which gave me a link to create the necessary index - had tried to create one manually, but Firebase didn'

[2019-08-03 00:35] mdanics commented on #60
Ah awesome, thanks for this. Really helpful. I'll try to make the docs clearer

[2019-08-10 18:20] sumanabhi commented on #61
Finally resolved by changing the order of some steps

[2019-08-10 18:20] #61 closed

[2019-08-10 20:47] githubbur commented on #61
Hi @sumanabhi, can you tell me how you solved this? I have the exact same problem today.

[2019-08-11 05:49] sumanabhi commented on #61
@githubbur Firstly, you don't have to update or follow some other node.js installation and workaround things.
You have to just use the same version and the process the function will automatically get deployed.
if you still find some issue then please ping me.

[2019-08-11 07:18] sumanabhi commented on #60
@lockeygit thanks for the posts of feed ordering but now the profile field is not coming in the same way.

[2019-08-13 10:19] lockeygit commented on #60
You probably need to edit getPosts() in profile_page.dart then to change the orderBy or remove the .reversed

[2019-08-30 06:20] Mika2709 opened #63 "Image, 500 Error"
With the new Image version, it doesnt take the 500 anymore. Anyone knows a fix?

[2019-09-17 13:20] maheshwari-1153 opened #64 "Request to Add Product in Start Flutter"
Hello,
I am Maheshwari from team [GeekyAnts](https://geekyants.com/).

On behalf of [Start Flutter](https://startflutter.com/), we add open source products which we find helpful to the community & also we provide credits to author itself.

Let me know if you are interested showcase your product in our open source website.

If yes, then I request you to add MIT Licence in your repo.

Looking forwar

[2019-09-17 17:13] leitonet commented on #57
Did you guys solve this problem? any update? Thanks

[2019-09-30 19:38] #64 closed

[2019-10-01 22:22] jhb115 opened #65 "Compiler Error"
I tried to run the program on my iOS simulator but I was getting this compiler issue. Do you know how to fix this problem?

I used `$ flutter run' command to run the code on the iOS simulator.

Launching lib/main.dart on iPhone 8 Plus in debug mode...

Compiler message:
../../development/tools/flutter/.pub-cache/hosted/pub.dartlang.org/cached_network_image-0.7.0/lib/src/cached_network_image_provid

[2019-10-01 22:38] jhb115 commented on #65
p.s. my visual studio code highlights the problem:

{
	"resource": "/Users/jeunghbyun/iOSProjects/fluttergram/lib/activity_feed.dart",
	"owner": "dart",
	"code": "must_be_immutable",
	"severity": 2,
	"message": "This class (or a class which this class inherits from) is marked as '@immutable', but one or more of its instance fields are not final: ActivityFeedItem.mediaPreview, ActivityFeedItem.acti

[2019-10-04 12:26] kdastan commented on #57
Same issue, any updates?

[2019-10-04 17:47] mdanics commented on #57
@kdastan @leitonet How are you guys getting to this problem? I need steps to reproduce to be able to look into fixing it

[2019-10-07 20:57] rajashekaranugu commented on #57
Am also getting same error. I was trying to integrate Firebase monitoring tool with ionic/codova App. Am following "https://firebase.google.com/docs/perf-mon/get-started-ios?authuser=0"

[2019-10-08 10:24] leitonet commented on #57
I also had this problem using ionic but solved it using FirebaseX plugin.

[2019-10-08 18:58] rajashekaranugu commented on #57
Hi @leitonet Thanks for the response is there any doc for migration from Firebase to FirebaseX

[2019-10-08 19:49] leitonet commented on #57
@rajashekaranugu , I followed this:
https://github.com/dpa99c/cordova-plugin-firebasex

[2019-10-08 20:50] mdanics commented on #57
@rajashekaranugu @leitonet This is a Flutter project, not Ionic

[2019-10-09 15:11] leitonet commented on #57
I know @mdanics, just wanted to help @rajashekaranugu cause he is working with ionic.

[2019-10-15 20:30] PramodJoshi commented on #57
I was receiving the exact error when trying to run my project on iOS 13 device (**worked fine on Android and iOS 12 devices**). And here is what helped me solve the issue:
- Changed **firebase_messaging: ^5.0.2** to **firebase_messaging: 5.0.0** in pubspec.yaml
- Did **pod update** in ios folder of the project
- Ran **flutter clean**

Hope this helps someone with similar issue.

[2019-11-13 05:15] palekarsagar commented on #61
hey bro.. still facing this issue... could you guide me a bit

[2019-11-19 20:15] aloisogomes commented on #65
Hi,
Open this file: **pubspec.yaml**

replace
**cached_network_image: ^0.7.0**
to
**cached_network_image: ^1.1.3**
Save file, wait for updating packages, or rerun manually.

**Bonus tip:** You must place on your project **google.json**, it will link your project at google services like firebase /firestore, will avoid new compile errors.

If you not get it yet, follow this link:
[https://firebase.g

[2019-11-27 21:54] billyrrr opened #72 "Python Reactive Back End"
Hi, I am currently developing a new mobile back end [framework](https://github.com/billyrrr/flask-boiler) based on Firestore. I hope to use fluttergram as an example use case, so I plan to develop another version of back end using Python. I was wondering if a pull request of that is welcomed here.

One of the new features that the new back end would achieve is the feed no longer has to be evaluate

[2019-12-27 23:36] willvlad opened #73 "Google signin not working. Gives the following errors:"
`D/EGL_emulation( 4924): eglMakeCurrent: 0xec785ba0: ver 3 0 (tinfo 0xd2394040)
W/ActivityThread( 4924): handleWindowVisibility: no activity for token android.os.BinderProxy@1f48de5
D/EGL_emulation( 4924): eglMakeCurrent: 0xec785ba0: ver 3 0 (tinfo 0xd2394040)
E/flutter ( 4924): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: PlatformException(sign_in_failed, com.google.android.g

[2019-12-29 06:36] reihanian opened #74 "Issue in README instruction."
Once your Firebase instance is created, you'll need to enable **anonymous** authentication.
Go to the Firebase Console for your new instance.
Click "Authentication" in the left-hand menu
Click the "sign-in method" tab
Click "Google" and enable it

-- I think you need to change the word of anonymous with **Google**

[2020-01-03 22:55] mdanics commented on #74
Awesome, thanks for recognizing this and making a PR!

[2020-01-03 22:55] #74 closed

[2020-01-03 22:59] mdanics commented on #72
Hey!

This sounds really cool. I'd love to see it in action. I'm not sure if I would completely convert Fluttergram to use it (as it would result in another dependency) but if it works well, I would be interested in exploring making a demo branch or repo that showcases this integration

[2020-01-04 16:58] #65 closed

[2020-01-04 17:19] mdanics commented on #73
Have you correctly set up google services? See [set up the firebase app](https://github.com/mdanics/fluttergram#3-setup-the-firebase-app) in the Readme.

Let me know if you still get the error after following the steps listed there

[2020-01-04 17:24] mdanics commented on #63
This was fixed in #76 [(line)](https://github.com/mdanics/fluttergram/commit/d7a227533fe4a701f79ade82e7de1476aae486c0#diff-1cf5df05bd32351b59123db46157dc0bR157) as ImagePicker was updated to support built in compression

[2020-01-04 17:24] #63 closed

[2020-01-04 17:29] mdanics commented on #54
Fixed in
https://github.com/mdanics/fluttergram/commit/d7a227533fe4a701f79ade82e7de1476aae486c0
and
https://github.com/mdanics/fluttergram/commit/7e8625923d0be745d3b4fd5796ace5a50fd8018f

[2020-01-04 17:29] #54 closed

[2020-01-04 17:42] #60 closed

[2020-01-04 17:43] #28 closed

[2020-01-04 17:44] #51 closed

[2020-01-04 17:44] mdanics commented on #51
Once again thank you for all of your contributions

[2020-01-04 17:46] mdanics commented on #52
This was fixed in #76 [(line)](https://github.com/mdanics/fluttergram/commit/d7a227533fe4a701f79ade82e7de1476aae486c0#diff-1cf5df05bd32351b59123db46157dc0bR157) as ImagePicker was updated to support built in compression

[2020-01-04 17:46] #52 closed

[2020-01-04 21:03] #58 closed

[2020-01-08 03:06] mzmmoazam opened #80 "Why used google cloud functions?"

[2020-01-08 03:09] mzmmoazam commented on #80
I just want to know if the reason is performance or otherwise. I think it kind of becomes vulnerable to various attacks given the hacker finds link like"https://us-central1-mp-rps.cloudfunctions.net/getFeed?uid=".

Please provide information or correct me ?

[2020-01-08 03:38] lizhijun opened #81 "It would be better to add a preload height to the posts in image_post.dart"
[code]

[2020-01-08 08:03] hlj2722 commented on #73
the same problem
-------------------------------------------------
E/flutter (14815): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: PlatformException(sign_in_failed, com.google.android.gms.common.api.ApiException: 10: , null)
E/flutter (14815): #0      StandardMethodCodec.decodeEnvelope (package:flutter/src/services/message_codecs.dart:569:7)
E/flutter (14815): #1      MethodCh

[2020-01-08 21:23] mdanics commented on #73
@hlj2722 have you correctly set up google services as per my previous comment?

[2020-01-10 02:15] #81 closed

[2020-01-15 16:43] mdanics commented on #80
The initial reason was to showcase an example of using cloud functions in conjunction with firebase, as well as giving the option of altering what the feed displays without pushing an app update.

For sure with the current implementation there is a security risk as all you need is someone's uid to view their feed, but it would be fairly trivial to implement authentication in the function (see [the

[2020-01-15 16:43] #80 closed

[2020-01-20 00:43] adamdupuis commented on #73
I am also having this issue and I did set up Google Services as stated in the Instructions. I also filled out the required fields on the "Oauth consent screen" in Google Console for my Firebase project.

When clicking the "Sign in with Google" button, I choose my Google account and the prompt disappears, but nothing happens.

[2020-01-22 03:36] fzyzcjy opened #82 "CPU not supported (not compatible)"
When installing, my phone rejects and says that the CPU is not compatible... Maybe the app-release.apk should contain all the ABIs. Thanks!

[2020-01-24 22:49] deatherving commented on #57
Same issue 2020, any updates?

[2020-01-25 15:09] saurabh-mhaisekar commented on #73
I'm facing same error. I've set up the Google Services correctly. It works fine in Debug mode but fails on release build. Any idea why?

[2020-01-25 15:14] adamdupuis commented on #73
@SaurabhSM I believe this case means you have not added the SHA-256 certificate to your app on Firebase.

[2020-01-25 15:19] saurabh-mhaisekar commented on #73
@adamdupuis Thanks, looks like I was referring to old fingerprint. Worked after updating to appropriate fingerprint. Appreciate your help

[2020-01-27 23:17] mdanics commented on #82
What device are you using?

[2020-01-28 01:17] fzyzcjy commented on #82
The CPU is *Snapdragon 435*, and phone name is "huawei changxiang 7 plus".

[2020-02-24 05:00] jaishirb opened #84 "Error getting a feed: Http status 500 | userId xxxxxxxxxxxxxx"
Hi, everything seems to work fine, but as soon as I get logged in and try to load my posts, that's the error that flutter shows in the console, but it is necessary to say that the function to create the posts works fine, the error is when trying to load them.

[2020-02-25 21:29] mdanics commented on #84
Did you do the steps outlined in this comment?
https://github.com/mdanics/fluttergram/issues/35#issuecomment-478391081

[2020-02-25 21:30] mdanics commented on #82
As I don't want to increase the size of the APK, I will keep it as it is. Feel free to fork the repo and build the APK for the devices you need.

Sorry!

[2020-02-25 21:30] #82 closed

[2020-02-26 00:11] fzyzcjy commented on #82
OK

[2020-02-26 05:50] casualcoder404 commented on #25
[code]

I followed the exact steps as mentioned by @mdanics with only exception of removing
"npm --prefix \"$RESOURCE_DIR\" run build" , (which resolves npm --prefix "$RESOURCE_DIR" run lint issue)

But still I get Cannot find module './notificationHandler'

Please help.

[2020-03-08 21:19] joinity commented on #84
will you do the open points mentioned anytime soon?
:)

[2020-03-10 08:20] elamir611 opened #85 "The getter 'avatar' was called on null."
good day everyone i am trying to call the avatar value from a class in another file in flutter project as below first i have a dart file that do authentication with firestore then the data is saved in clas as below

`UserData currentUser; //defined at the top of the file
Future signInUser(String email, String password) async {
    try {
      AuthResult signInUserResult = await _auth.signInWithEma

[2020-03-13 07:21] elamir611 commented on #85
where did the people go?

[2020-03-17 14:11] muj-programmer opened #86 "Add CI/CD support"
I would like to add `Circle CI` support for this app so that it becomes easy to release new `release.apk` and it stays in sync with master branch

[2020-03-19 06:06] mdanics commented on #86
That would be great! Let me know if you need anything from me, otherwise, feel free to open a PR!

[2020-03-19 18:35] NikSWE commented on #86
_First of all, loved the app_.
![Screenshot from 2020-03-19 23-54-12](https://user-images.githubusercontent.com/34477129/77101262-0bb23880-6a3d-11ea-9dd6-d374a6475ac0.png)

As you can see in the screenshot that the **master branch** size is around 70 MB which is huge and would take some time on CI to build.

So to fix this you will have to remove the _release.apk blob_ from all git commit and forc

[2020-04-06 03:12] mdanics commented on #86
Thanks!

After some research, I think it will be better not to delete the apk and rewrite git history as there are many forks of the repo and it can cause some problems.

I don't mind CI taking some time as there are not frequent updates to the repo. Let me know what's needed for the next steps!

[2020-04-09 08:37] NikSWE commented on #86
okay, sure let me look into it

[2020-04-22 10:04] ajatsoft opened #87 "comments error"
coments page not load coments from firestore, get circular progress widget

[2020-04-30 22:54] mounagongi commented on #25
@mdanics Please what can I do to let the **feed** works correctly? I can't see posts of accounts that I follow..

[2020-05-01 21:21] mounagongi commented on #87
@ajatsoft please did you solve this problem?? I can't also solve the issue in the feed page.. did you have any solution?

[2020-05-04 05:06] Mugiw4rr4 commented on #25
@mdanics
Hi , I don't get the getFeed url , I only get the url of my firebase page , here is what I have in the output of the deployment

PS C:\flutter_projects\fluttergram\functions\functions> firebase deploy --only functions                                                                                                                                                        === Deploying to 'stay

[2020-05-04 06:52] GustavoContreiras commented on #25
@Mugiw4rr4
- Go to your project's Firebase Console through https://console.firebase.google.com/
- Go to "Functions" section
- Check if there is a getFeed method and copy it's URL from there

[2020-05-05 06:54] ajatsoft commented on #87
no, i cant use it

[2020-05-19 04:35] mpalverca opened #90 "Intagramm"

[2020-05-20 17:33] pojoba02 opened #91 "Apple Sign in"
I have tried to implement apple sign in as an authentication  provider, am having an issues for
1 Not navigating to the next page
2. It seems is not fetching any data am requesting.
Below is the code
using  apple_sign_in 0.1.0 from pub.dev
[code]
Please any help or any light something on the codes would be appreciated.
Thanks

[2020-05-20 20:01] asmglr opened #92 "[ERROR:flutter/lib/ui/ui_dart_state.cc(157)] pls help"
I get this error message. I checked the getfeed url correctly. Where's the trouble?

[ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: FormatException: Unexpected character (at line 2, character 1)
E/flutter (20332): <!DOCTYPE html>
E/flutter (20332): ^
E/flutter (20332):
E/flutter (20332): #0      _ChunkedJsonParser.fail (dart:convert-patch/convert_patch.dart:1394:5)
E/flutter (20

[2020-05-22 01:19] aihamakeel commented on #57
Just Add **@import FirebaseInstanceID;** in the header and it will work

[2020-05-24 11:15] gadon1 opened #93 "Error getting a feed: Http status 500 | userId xxxxxxx"
cloud functions uploaded and url updated in feed.dart but i still getting this error.. any advice?

[2020-05-24 11:18] gadon1 commented on #93
go failed precondition, i'll try to create index

[2020-05-24 11:33] gadon1 commented on #93
got that part ok.

[2020-05-24 11:33] #93 closed

[2020-06-01 15:52] venky9885 opened #94 "Video in news feed"
In news feed only image is supported
Please support it for Video also in news feed
Can you please help me

[2020-06-01 19:29] jasdeepj121 commented on #25
These steps worked for me however you need to change `cd fluttergram/functions` to `cd fluttergram`

[2020-06-14 07:42] mounagongi commented on #92
@asmglr  same here! did you found any solution for this?

[2020-06-21 16:05] Farid000 commented on #25
Hello...
I followed the fluttergram instructions...
i deploy function to an existing project..in my firebase console..
![error_fluttergram](https://user-images.githubusercontent.com/55081350/85229372-c702b880-b402-11ea-8657-f2bd2685ae79.png)
----------------------------------------
Please give me solution what i do to remove this error..

[2020-06-22 07:31] akiiii29 opened #95 "HTTP Status 500 | UserId xxxxxxxxx"
follow your step but still got this : Error getting a feed: Http Status 500 | userId xxxxxxxx
code here
![image](https://user-images.githubusercontent.com/66854376/85260508-feba4080-b494-11ea-927a-2082beb6ea2b.png)

[2020-06-22 07:32] akiiii29 commented on #93
how did you fix it ?

[2020-06-22 07:35] akiiii29 commented on #35
im follow these steps and still got this error. Any advise ?

[2020-06-22 10:53] akiiii29 commented on #95
Problem solved, i dont have neccessary index. Solved by firebase functions:log

[2020-06-22 10:53] #95 closed

[2020-06-25 00:02] islamawad94 commented on #95
thank you brother , you are handsome guy

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Mon, 22 Jun 2020 at 12:54, akiiii29 <notifications@github.com> wrote

[2020-06-26 22:01] jnash766 opened #96 "firebase deploy issues"
I'm very new to firebase and trying to work through the setup. I ran into an issue I can't seem to get past. I apologize in advance, I'm sure this must be something dumb I'm missing.

When doing this step:
Push the function getFeed with firebase deploy --only functions In the output, you'll see the getFeed URL, copy that.

I get the following error:
John-iMac lib % firebase deploy --only functions

[2020-06-30 14:38] Mateis commented on #25
@Farid000 try in your functions\index.js file, change:

[code]

to

[code]

[2020-06-30 20:12] jnash766 commented on #96
I tried going through the all the steps again, including a new clone of the project.  Still seem to be stuck, but guessing I'm missing something obvious.
Thanks!

John@John-iMac fluttergram % ls
CHANGELOG.md			android.iml			firestore_test_android.iml	pubspec.lock
LICENSE				app-release.apk			functions			pubspec.yaml
README.md			assets				ios
android				firestore_test.iml		lib
John@John-iMac flutte

[2020-06-30 20:43] jnash766 commented on #96
Not sure if this is ok, but I found where other firebase projects were having this same error.  They were able to resolve it by editing the tsconfig.json and changing the following:

"noUnusedLocals": true,    <-- change this to: false

I did this and I no longer get an error, but I also don't see "getFeed URL" in the output.  Any ideas if thats ok to change that variable and if where I would find

[2020-07-02 20:00] SpadeStudios opened #97 "Comments not visible"
@mdanics Comments page stuck at circular progress widget. Couldn't able to see comments. But its showing commented on logs.
![comments](https://user-images.githubusercontent.com/67581536/86404163-c3a5e180-bccc-11ea-9f2a-2c4135f4677b.PNG)
Please help

[2020-07-03 23:34] mdanics commented on #97
Any error logs?

[2020-07-03 23:36] mdanics commented on #96
The error that you provided says:

Did you try running `npm install --save firebase-functions@latest`?

[2020-07-03 23:39] mdanics commented on #94
Hi,

Fluttergram does not support video for the time being. I don't think it would be too difficult to implement. The ImagePicker plugin used can pick videos with `ImagePicker.pickVideo(...)`, and then you could use the following package to display videos https://pub.dev/packages/video_player.

If you do end up implementing this, please submit a PR - it would be appreciated :)

Good luck!

[2020-07-03 23:39] #94 closed

[2020-07-03 23:43] elgansayer commented on #94
I've done this using video player and adding a post type video/image.

Unfortunately, the app only took ideas from this repo and the code is too vastly different to PR anything. However, I would gladly help or add it when I have spare time.

[2020-07-03 23:48] mdanics commented on #94
Sounds good! Thank you :)

[2020-07-03 23:49] #86 closed

[2020-07-03 23:49] #73 closed

[2020-07-03 23:50] #84 closed

[2020-07-03 23:52] mdanics commented on #85
Can you provide the code where you call it?

[2020-07-03 23:53] mdanics commented on #87
Are there any errors in the console?

[2020-07-03 23:54] mdanics commented on #90
Closing due to lack of detail

[2020-07-03 23:54] #90 closed

[2020-07-03 23:55] mdanics commented on #91
Any luck with this? If not, I will implement sign in with Apple in the next few weeks as it is now mandatory.

[2020-07-03 23:56] mdanics commented on #92
When do you guys get this error? On startup? Any tips on how to reproduce this?

[2020-07-04 18:05] SpadeStudios commented on #97
@mdanics No error in logs.. In logs its showing commented and firestore db comments is storing successfully. But its not visible in comments screen. Tried your apk file as same issue occurring.

[2020-07-05 13:07] Mateis opened #98 "Keeps hanging in assembledebug"
I made a fresh copy of fluttergram, but when I run it keeps hanging. These are the lines i get in debug console reporting:

[code]

Anyone know what might be going on and/or how to fix it?

[2020-07-05 13:13] Mateis commented on #98
I skipped these steps, maybe its what causing it?:

* ' Copy this project's functions/lib/index.js to your firebase project's functions/index.j'
* ' Replace the url in the _getFeed function in feed.dart with your cloud function url from the previous step.'

I followed these steps instead: https://github.com/mdanics/fluttergram/issues/25#issuecomment-434031430

[2020-07-05 13:21] Mateis commented on #25
@lauramorinigo did you in doing these steps also do:

as in the README.md https://github.com/mdanics/fluttergram#3-setup-the-firebase-app  or just followed the steps above here in direct sequence?

[2020-07-05 15:32] mdanics commented on #98
Did this solve the issue?

[2020-07-05 16:36] #87 closed

[2020-07-05 16:37] mdanics commented on #97
The issue is that previously timestamps were stored as a String as they used to not be supported in the Firestore plugin. The fix is by changing the variable type for timestamp to `Timestamp` instead of `String`.

It is fixed here: https://github.com/mdanics/fluttergram/pull/99

Note - the APK is not updated yet

[2020-07-05 16:37] #97 closed

[2020-07-05 16:38] mdanics commented on #87
Fixed - see #97 for an explanation

[2020-07-06 04:10] itsgamervik commented on #92
I/flutter: Failed invoking the getFeed function. Exception: FormatException: Unexpected character (at line 2, character 1)
    <!DOCTYPE html>
    ^

[2020-07-06 04:10] itsgamervik commented on #92
Help me with this

[2020-07-06 08:28] Mateis commented on #98
Nope.

But I can try again. I ran `firebase init` in the `fluttergram` folder instead of `fluttergram/functions`.  That's different from what you describe.

When I follow the steps of https://github.com/mdanics/fluttergram/issues/25#issuecomment-434031430 should I still do `Copy this project's functions/lib/index.js to your firebase project's functions/index.j` before/after?

[2020-07-06 09:42] kennethqw opened #100 "Sorting posts on Feed by timestamp"
The Fluttergram app looks great and is working on both android and ios devices. From issue #54 I was able to sort the posts according to timestamp.

However, I realized when I follow multiple users, all posts of a user will be displayed before all posts of another user is display.
For instance, if I follow UserA and UserB, all the posts of UserA will appear before all the posts of UserB regardless

[2020-07-06 11:06] itsgamervik commented on #92
try {
      var request = await httpClient.getUrl(Uri.parse(url));
      var response = await request.close();
      if (response.statusCode == HttpStatus.ok) {
        String json = await response.transform(utf8.decoder).join();
        prefs.setString("feed", json);
        List<Map<String, dynamic>> data =
            jsonDecode(json).cast<Map<String, dynamic>>();
        listOfPosts = _generat

[2020-07-06 11:22] itsgamervik commented on #92
after using firebase funtions:log it's showing :-

2020-07-06T04:23:40.774935726Z D getFeed: Billing account not configured. External network is not accessible and quotas are severely limited. Configure billing account to remove these restrictions

2020-07-06T04:23:41.069Z E getFeed:
The behavior for Date objects stored in Firestore is going to change
AND YOUR APP MAY BREAK.
To hide this warning a

[2020-07-06 11:25] itsgamervik commented on #92
after using firebase funtions:log it's showing :-

2020-07-06T04:23:40.774935726Z D getFeed: Billing account not configured. External network is not accessible and quotas are severely limited. Configure billing account to remove these restrictions

2020-07-06T04:23:41.069Z E getFeed:
The behavior for Date objects stored in Firestore is going to change
AND YOUR APP MAY BREAK.
To hide this warning a

[2020-07-06 11:35] itsgamervik commented on #92
Error: Can't set headers after they are sent.
    at validateHeader (_http_outgoing.js:491:11)
    at ServerResponse.setHeader (_http_outgoing.js:498:3)
    at ServerResponse.header (/worker/node_modules/express/lib/response.js:767:10)
    at ServerResponse.send (/worker/node_modules/express/lib/response.js:170:12)
    at ServerResponse.json (/worker/node_modules/express/lib/response.js:267:15)

[2020-07-21 21:11] Aashikr commented on #100
Read the timestamp for every image post, and sort it in feed.

[2020-07-22 02:12] kennethqw commented on #100
@Aashikr Thank you for the reply, I've actually solved it by doing a sort before resulting the list!

[2020-07-22 02:12] #100 closed

[2020-08-11 04:48] mdanics commented on #72
I'm going to close this issue for now, but feel free to open a PR if you end up going about this!

[2020-08-11 04:48] #72 closed

[2020-08-11 04:49] mdanics commented on #85
Closing for inactivity

[2020-08-11 04:49] #85 closed

[2020-08-11 04:51] mdanics commented on #92
Hi sorry for my absence.

Were you able to solve this issue?

[2020-08-11 04:52] mdanics commented on #96
Closing for inactivity

[2020-08-11 04:52] #96 closed

[2020-08-11 05:04] mdanics commented on #57
Closing due to irrelevancy + inactivity

[2020-08-11 05:04] #57 closed

[2020-08-22 14:28] floheitzmann commented on #92
Have the same problem. When u try to get the feed, you get a html document instead of a json file. But I can't find a solution but I try it.

[2020-09-17 14:49] jnash766 opened #103 "Stuck at login screen"
I was finally able to get everything to build correctly and was able to get fluttergram to launch in my simulator and on my physical device.  Both locations prompted me to sign in with google, which I used an existing account and the authentication seemed to work correctly.  I do see the new userid show up in my Firebase instance.  But after that initial auth fluttergram appears to be frozen. I se

[2020-09-21 07:50] tilakpatel22 commented on #92
app just keeps loading at homescreen no post is visible give  a solution pls

[2020-09-21 12:27] mdanics commented on #103
Hm.. It's pretty hard to diagnose this issue with what you've provided.

Did you correctly [set up firebase authentication](https://github.com/mdanics/fluttergram#3-setup-the-firebase-app)?

[2020-09-21 14:37] jnash766 commented on #103
I found this message, which seems related?  But can't seem to find that file anywhere?
![Screen Shot 2020-09-17 at 9 55 57 AM](https://user-images.githubusercontent.com/35532573/93780643-07cec100-fbee-11ea-9501-3c968f895e64.png)

[2020-09-21 15:01] mdanics commented on #103
Maybe try running flutter clean and then re pod installing and pub getting

[2020-09-26 08:48] amitsingh6391 commented on #103
When we try to login we stuck their

[2020-10-04 14:33] mdanics commented on #103
@jnash766 @amitsingh6391 Are you both gettings this on iOS only?

[2020-10-04 21:48] mdanics commented on #98
It would be before as long as you ensure you don't override it.

Let me know if you are able to get this working 💯

[2020-10-04 21:51] mdanics commented on #92
@scarpex If you have the same issue, it looks like it's a Billing issue

@12tilak34 are you following anyone? do you / they have any posts?

[2020-10-05 03:56] vnmaster1997 opened #105 "GetFeeds URL Empty?"
After following the fluttergram's steps on github, logged in to the application but no news was displayed even though I followed other users and also made a few posts.
P/s: I checked firebase cloud storage, and got the data, but when using getFeed Url in my browser I didn't get any data.

my Link GetFeed URL: http://us-central1-flutterinstagram-4602d.cloudfunctions.net/getFeed?uid=1083923130373677

[2020-10-05 13:28] jnash766 commented on #103
The clean and pod install get steps took care of the file not found issue, but still having the issue stuck at login screen.  I haven't tried running on Android at all yet.

[2020-10-05 13:43] mdanics commented on #103
@jnash766 any new errors now that you've resolved the file not found error?

[2020-10-05 13:45] mdanics commented on #92
@12tilak34 glad you solved it. Are you able to document the steps you did to fix it? It seems like it could be related to #105

[2020-10-05 13:47] tilakpatel22 commented on #92
Yep bro I will do that for him ✌🏻🔥

[2020-10-06 06:08] tilakpatel22 commented on #105
i was facing the same problem and this is because u might not have enable the billing account in firebase so i was also confused and after that i figure out how can i build app without cloud functions. so first go to your feed.dart and paste this code.

import 'package:cloud_firestore/cloud_firestore.dart';
import 'package:flutter/material.dart';
import 'package:foodizo/upload_page.dart';
import '

[2020-10-13 07:03] vnmaster1997 commented on #105
thansk

thanks. i fixed it!. but this app can be built web flutter?

[2020-10-13 14:02] #105 closed

[2020-10-13 14:03] mdanics commented on #105
Closing because the issue is solved.

At the moment this project is not compatible with Flutter Web

[2020-10-14 19:34] pinkasey commented on #97
Just dropping by to mention that I downloaded the demo apk, and saw this issue too.
Maybe worthwhile to update the apk.

[2020-10-21 07:05] tilakpatel22 commented on #103
@jnash766 @amitsingh6391 delete the googlesign code and then remake the code u will get a clear understanding also as well as it will work I don't know about the error much but I was facing same problem in my app then after I had rebuild whole google sign function and that's seems to work for me 🙂...

[2020-11-08 16:23] makemagik commented on #103
I'm having the same issue.

I was able to click on the button, login using a google account, but after that it brings me to the same homepage. When I re-click, it just crashes.

@12tilak34 what do you mean by delete and remake the code? Care to give your working code in example? Thanks!

[2020-11-10 22:47] Janpreet-Singh opened #106 "Edit Profile Button overflowing"
not sure if that's the correct term to use. But, it's not completely available,
![Edit profile button](https://user-images.githubusercontent.com/74270394/98742601-b912fb80-23d4-11eb-93de-8ecef3aa0443.jpg)
at my phone's screen

[2020-11-10 22:51] Janpreet-Singh commented on #106
I'm a beginner to git hub and open source, recently found flutter and loving it. Any kind of assistance is highly appreciable.

[2020-12-05 14:30] hsc25 commented on #25
Hello, I followed your instructions and got everything to work except feed. I checked that I need to create an index and followed the below link:
https://console.firebase.google.com/project/fluttagram-2c422/database/firestore/indexes?create_index=EgtpbnN0YV9wb3N0cxoLCgdvd25lcklkEAIaDQoJdGltZXN0YW1wEAIaDAoIX19uYW1lX18QAg

This link is not working anymore. Can anyone help please?

[2020-12-22 05:57] madd-project opened #107 "APK Not Opening on my Android"

[2021-01-12 22:25] aliazimoshan commented on #95
@akiiii29
hi,
I've got the same error, what did you change in the firebase function for solving this?

[2021-01-14 14:46] akiiii29 commented on #95
u just need to create an index in firebase

On Wed, 13 Jan 2021 at 05:25, ali azimoshan <notifications@github.com>
wrote:

[2021-02-19 07:54] ASVKVINAYAK opened #109 "how can we add music to our instagram stories"
i am also wanted to make a app which adds music to whatsapp status just like instagram music
but i am not able to get the information related to how to do it .
Can anyone suggest any flutter plugin so that we can convert image to video and then add music(from api like spotify ) just like we add music to our instagram stories

[2021-02-26 13:31] iAkashPattnaik commented on #107
Try changing device..

[2021-03-15 02:06] TimMensch opened #110 "Build error"
Grabbed a fresh clone, tried to build. Build error:

[code]

New to Flutter/Dart, so not loving the idea of needing to debug it? Thoughts?

[2021-03-15 20:58] mdanics commented on #110
Fixed in https://github.com/mdanics/fluttergram/pull/111/commits/a75adfe4260bd90448a1650a0adbc7c7f994c0bc. Turns out `resizeToAvoidBottomPadding` was deprecated.

Pull from master and it should be working.  Thanks for bringing this to my attention.

[2021-03-15 20:58] #110 closed

[2021-03-15 21:13] mdanics commented on #109
Hi ASVKVINAYAK,

I would look at an audio player plugin, like https://pub.dev/packages/audioplayers that you can pragmatically play the audio with an image displayed. No need to convert the image to a video

At the moment this is out of the scope of Fluttergram, so I will be closing this issue.

[2021-03-15 21:13] #109 closed

[2021-03-15 21:14] mdanics commented on #107
Need some more details in order to help you with this.

What device? What error are you getting?

[2021-03-15 21:16] #92 closed

[2021-03-15 21:17] mdanics commented on #103
Should be fixed in https://github.com/mdanics/fluttergram/commit/97c31603fcbad574fa292d373bd0de953883d3bd

If you could pull and double-check that this has fixed it in your environment, that would be great

[2021-03-15 21:19] mdanics commented on #98
Closing due to inactivity

[2021-03-15 21:19] #98 closed

[2021-03-16 14:23] iAkashPattnaik commented on #107
By the way, Its not working on any devices...
I Used Devices with API level 22 and 30 And Nothing Worked..

Seems Error in Old Build...

[2021-03-16 14:31] mdanics commented on #107
@BLUE-DEVIL1134  thanks for bringing this to my attention.

I'm unable to reproduce this. Where are you facing this error? Using the release APK include din the repo? or are you trying to build?

Can you provide any logs?

If you are trying to build, are you using the latest version? I just updated the app for Flutter 2 yesterday

[2021-03-17 19:13] burf2000 opened #112 "src/notificationHandler.ts(24,75): error TS2503: Cannot find namespace 'FirebaseFirestore'."
I have spent the last hour trying to get this to run, following the other issue reports and now I get:

I think firebase has changed?  if I update notificationHandler.ts to use a lowercase firebase.firestore
 it compiles but then I get a package.json issue

[code]

[2021-03-18 11:17] SimonBurfield opened #113 "[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: NoSuchMethodError: The method '[]' was called on null."
I have set this up in Firebase etc, and I can see
GoogleSignInAccount user = googleSignIn.currentUser; has user information

However this function is not working

[code]

[code]

[2021-03-18 13:18] mdanics commented on #113
When are you getting this error? On login? Sign up?

[2021-03-18 13:25] SimonBurfield commented on #113
Good afternoon, so when I hit the google signup button, a screen appears where I can select my google account, its after that it fails

[2021-03-18 13:26] mdanics commented on #113
Ok, and this is the first attempt at logging in?

[2021-03-18 13:49] SimonBurfield commented on #113
Yes it was.  I found if I commented out

 if (userRecord.data == null) {
 }
 (just the check, not the containing code)

 If would ask for a username, and then work, subsequential logins would work fine

[2021-03-19 10:40] iAkashPattnaik commented on #107
Oh, We all know that Flutter 2 is a significant change...
When I downloaded the release apk from readme.md it didn't installed And I haven't tried to build till now but as you are telling, I will try today and tell ...

[2021-03-21 00:11] lcw99 commented on #25
in my case, juse copy /funtions/lib/getFeed.js and /funtions/lib/notificationHandler.js to /functions folder than it works.

[2021-03-24 13:00] mdanics commented on #113
Fixed in #114

[2021-03-24 13:00] #113 closed

[2021-03-24 13:04] #103 closed

[2021-03-24 13:05] mdanics commented on #103
Feel free to reopen this or create a new issue if this persists, but from my understanding this has been fixed

[2021-03-24 13:54] SimonBurfield commented on #113
Thank you :)

[2021-03-24 13:59] mdanics commented on #113
Thanks to @lcw99  😃

[2021-04-01 07:47] Babwenbiber opened #115 "[Best Practice] Separate Logic Code from UI"
The UI really looks smooth and I think it is a great place to go especially for beginners.
Nevertheless, it might be somewhat missleading for them.
You have no separation of UI from the business logic and beginners will adapt that.
This is just my point of view, but I think this is one of the first GOTO repos for beginners and therefore you have a responsibility for that.

Let me know you think ab

[2021-04-01 15:57] mdanics commented on #115
I completely agree. I added a disclaimer in the readme to be more transparent for beginners: https://github.com/mdanics/fluttergram/commit/d372cfd8e34994af5f774a25b3d4ae147d3965aa

I have been wanting to rebuild this from the ground up with the current Flutter best practices, however, I haven't had the time.

That said, PR's are welcome, so if you would like to help improve Fluttergram you can :)

[2021-04-03 03:44] #115 closed

[2021-04-27 19:06] julienfortinfr commented on #25
Hi,
Thank you for this app. I followed theses steps and it gets me there :

[code]

Do you know how to solve this issue ?
Best regards,
julien

[2021-04-28 03:17] wikitong commented on #25
did you install " tslint "  ?  you have to version check or run npm tslint.

and you have to check your node  version match with '
fluttergram/functions/package.json ' files

On Tue, Apr 27, 2021 at 3:06 PM julienfortinfr ***@***.***>
wrote:

[2021-04-28 19:55] julienfortinfr commented on #25
thank you for the input ! installing TSLint worked. I'm know facing the "pay as you go" plan on firebase. I'll go further as soon as I've read the billing conditions.

[2021-06-22 11:53] darmawan01 opened #116 "How to make instagram explore screen ?"
Hi, have you implement the explore screen like instagram ?
it's so hard to create the grid view, with small one and big one.

example:

![image](https://user-images.githubusercontent.com/23370707/122920032-7e723800-d393-11eb-9191-96deaf157a7e.png)

or myabe anyone have any idea for this ?

[2021-06-29 02:40] #107 closed

[2021-08-24 18:55] adithya-1 opened #118 "Null safety issue"

[2021-08-25 02:06] mdanics commented on #118
Commented on the PR, thanks!

[2021-08-25 02:06] #118 closed

[2021-08-25 02:08] mdanics commented on #116
This type of layout is called a Masonry Grid.  I would do some Googling to see how it can be implemented in Flutter.

From a quick search, https://pub.dev/packages/flutter_staggered_grid_view looks like a promising package

[2021-08-25 02:08] #116 closed

[2021-08-25 02:09] mdanics commented on #106
I think the [SafeArea](https://api.flutter.dev/flutter/widgets/SafeArea-class.html) widget would help with this

[2021-11-01 18:54] pedr0luiz commented on #106
Can I work on this?

[2022-01-21 08:06] iAkashPattnaik commented on #106
I don't think so, see, SafeArea won't squeeze the button to the left screen witdh...

[2022-03-15 11:15] AlienSofts commented on #100
@kennethqw  can you share code how did you do that sorting please?

[2022-05-26 11:16] srihariash999 commented on #106
well, might be futile to comment as the project does not seem to be active, but wrapping the button with fitted box and setting the fit to scaledown should do the trick.

[2022-09-28 04:42] dhanvi1911 commented on #106
hey, could you assign this issue to me?

[2022-10-03 21:25] Janpreet-Singh commented on #106
Yeah, u can resolve it. Maybe by now someone must have fixed it, not sure as project is very old. But still you can go for it. Btw you don't have to ask anyone to assign any issues
.